* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

.logo {
  font-family: "Shrikhand", cursive;
}

button {
  padding: 15px 20px;
  border-radius: 25px;
  color: white;
  font-weight: 600;
  background: linear-gradient(175deg, #FF79D3, #9356DC);
  border: none;
  font-size: 15px;
}

.logo {
  text-align: center;
  margin: 0px 0px 5px 0px;
  padding: 10px 0px 7px 0px;
  box-shadow: 0px 0px 10px #a6a6a6;
}

.position {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #4d4d4d;
  background-color: #ebebeb;
}
.position .fas {
  padding-right: 10px;
}

.explore {
  background-color: #f7f7f7;
  width: 100%;
  margin: auto;
  text-align: center;
  padding: 30px 0px 40px 0px;
}
.explore__title {
  width: 70%;
  margin: auto;
  padding-bottom: 10px;
}
.explore__subtitle {
  width: 90%;
  margin: auto;
  padding-bottom: 20px;
  font-weight: 100;
}

.process {
  padding-bottom: 30px;
}
.process__title {
  width: 90%;
  margin: auto;
  padding-top: 40px;
  padding-bottom: 30px;
}
.process__steps {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.process__steps__step {
  display: flex;
  position: relative;
  align-items: center;
  background-color: #f7f7f7;
  border-radius: 17px;
  box-shadow: 2px 5px 5px #ebebeb;
  margin-bottom: 20px;
  width: 90%;
  padding-top: 32px;
  padding-bottom: 32px;
}
.process__steps__step:hover {
  background-color: #f2eafb;
}
.process__steps__step:hover .fas {
  color: #9356DC;
}
.process__steps__step__number {
  background-color: #9356DC;
  border-radius: 25px;
  width: 24px;
  height: 24px;
  text-align: center;
  padding-top: 3px;
  color: white;
  position: absolute;
  left: -10px;
}
.process__steps__step .fas {
  color: #8c8c8c;
  font-size: 18px;
  position: absolute;
}
.process__steps__step .fa-mobile-alt {
  left: 38px;
}
.process__steps__step .fa-list-ul {
  left: 35px;
}
.process__steps__step .fa-store {
  left: 33px;
}
.process__steps__step__detail {
  position: absolute;
  left: 70px;
}

.restaurants {
  background-color: #f7f7f7;
  width: 100%;
  padding-top: 40px;
}
.restaurants__title {
  width: 90%;
  margin: 0px auto;
  padding-bottom: 20px;
}
.restaurants__container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
}
.restaurants__container__card {
  position: relative;
  margin-bottom: 20px;
  box-shadow: 3px 5px 5px #e6e6e6;
  border-radius: 17px;
  overflow: hidden;
  height: 250px;
}
.restaurants__container__card__img {
  width: 100%;
}
.restaurants__container__card__status {
  position: absolute;
  top: 5px;
  right: 15px;
  background-color: #99E2D0;
  color: #32b091;
  font-size: 0.9em;
  padding: 0.4em 0.9em;
  border-radius: 4px;
}
.restaurants__container__card__content {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 0px;
  width: 100%;
}
.restaurants__container__card__content__name {
  margin: 0px;
  padding: 10px 0px 5px 10px;
}
.restaurants__container__card__content__place {
  margin: 0px;
  padding: 0px 0px 10px 10px;
  font-weight: 350;
}
.restaurants__container__card__content .fa-heart {
  font-size: 1.7em;
  color: #8c8c8c;
  padding-right: 25px;
}

/*# sourceMappingURL=style.css.map */
