* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

.logo, .restaurant-main__header--title {
  font-family: "Shrikhand", cursive;
}

button {
  padding: 15px 20px;
  border-radius: 25px;
  color: white;
  font-weight: 600;
  background: linear-gradient(175deg, #FF79D3, #9356DC);
  border: none;
  font-size: 15px;
}

header {
  position: relative;
}
header .logo {
  text-align: center;
  margin: 0px;
  padding: 10px 0px 7px 0px;
  box-shadow: 0px 0px 10px #a6a6a6;
}
header .logo--pages-restaurant {
  box-shadow: none;
}
header .fas {
  position: absolute;
  font-size: 1.5em;
  color: #4d4d4d;
  top: 20px;
  left: 25px;
}

.footer {
  margin: auto;
  background-color: #4d4d4d;
}
.footer__content {
  width: 90%;
  margin: auto;
  color: #f7f7f7;
}
.footer__content__logo {
  font-size: 1.3em;
  font-weight: lighter;
  margin: 0px;
  padding-top: 20px;
}
.footer__content__nav ul {
  list-style: none;
  padding-left: 0px;
}
.footer__content__nav ul li:nth-child(1) {
  padding-bottom: 10px;
}
.footer__content__nav ul .fa-utensils {
  font-size: 0.9rem;
}
.footer__content__nav ul .fa-hands-helping {
  font-size: 0.6rem;
}
.footer__content__nav ul li span {
  padding-left: 5px;
}
.footer__content a {
  text-decoration-line: none;
  color: #f7f7f7;
  font-weight: lighter;
  display: inline-block;
  padding-bottom: 10px;
}

.position {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #4d4d4d;
  background-color: #ebebeb;
}
.position .fas {
  padding-right: 10px;
}

.explore {
  background-color: #f7f7f7;
  width: 100%;
  margin: auto;
  text-align: center;
  padding: 30px 0px 40px 0px;
}
.explore__title {
  width: 70%;
  margin: auto;
  padding-bottom: 10px;
}
.explore__subtitle {
  width: 90%;
  margin: auto;
  padding-bottom: 20px;
  font-weight: 100;
}

.process {
  padding-bottom: 30px;
}
.process__title {
  width: 90%;
  margin: auto;
  padding-top: 40px;
  padding-bottom: 30px;
}
.process__steps {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.process__steps__step {
  display: flex;
  position: relative;
  align-items: center;
  background-color: #f7f7f7;
  border-radius: 17px;
  box-shadow: 2px 5px 5px #ebebeb;
  margin-bottom: 20px;
  width: 90%;
  padding-top: 32px;
  padding-bottom: 32px;
}
.process__steps__step:hover {
  background-color: #f2eafb;
}
.process__steps__step:hover .fas {
  color: #9356DC;
}
.process__steps__step__number {
  background-color: #9356DC;
  border-radius: 25px;
  width: 24px;
  height: 24px;
  text-align: center;
  padding-top: 3px;
  color: white;
  position: absolute;
  left: -10px;
}
.process__steps__step .fas {
  color: #8c8c8c;
  font-size: 18px;
  position: absolute;
}
.process__steps__step .fa-mobile-alt {
  left: 38px;
}
.process__steps__step .fa-list-ul {
  left: 35px;
}
.process__steps__step .fa-store {
  left: 33px;
}
.process__steps__step__detail {
  position: absolute;
  left: 70px;
}

.restaurants {
  background-color: #f7f7f7;
  width: 100%;
  padding: 40px 0px 40px 0px;
}
.restaurants__title {
  width: 90%;
  margin: 0px auto;
  padding-bottom: 20px;
}
.restaurants__container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
}
.restaurants__container__card {
  position: relative;
  margin-bottom: 20px;
  box-shadow: 3px 5px 5px #e6e6e6;
  border-radius: 17px;
  overflow: hidden;
  height: 250px;
}
.restaurants__container__card__img {
  width: 100%;
  position: absolute;
}
.restaurants__container__card__img__palette, .restaurants__container__card__img__francaise, .restaurants__container__card__img__delice {
  top: -50px;
}
.restaurants__container__card__img__note {
  top: -150px;
}
.restaurants__container__card__status {
  position: absolute;
  top: 5px;
  right: 15px;
  background-color: #99E2D0;
  color: #32b091;
  font-size: 0.9em;
  padding: 0.4em 0.9em;
  border-radius: 4px;
}
.restaurants__container__card__content {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 0px;
  width: 100%;
}
.restaurants__container__card__content__name {
  margin: 0px;
  padding: 15px 0px 5px 10px;
}
.restaurants__container__card__content__place {
  margin: 0px;
  padding: 0px 0px 15px 10px;
  font-weight: 350;
}
.restaurants__container__card__content .fa-heart {
  font-size: 1.7em;
  color: #8c8c8c;
  padding-right: 25px;
}

.restaurant-banner {
  height: 250px;
  background-image: url("../../images/photo_plat_la_palette_du_gout.jpg");
  background-size: 100%;
}

.restaurant-main {
  background-color: #f7f7f7;
  border-radius: 35px 35px 0px 0px;
  position: relative;
  top: -30px;
}
.restaurant-main__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
}
.restaurant-main__header--title, .restaurant-main__header .far {
  font-size: 1.8em;
}
.restaurant-main__header .far {
  font-size: 1.8em;
  color: #8c8c8c;
}
.restaurant-main__menu {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
}
.restaurant-main__menu__course--status {
  text-transform: uppercase;
  font-weight: lighter;
  margin-bottom: 5px;
}
.restaurant-main__menu__course--status-underline {
  background-color: #99E2D0;
  width: 40px;
  height: 4px;
  margin-bottom: 10px;
}

.dish {
  position: relative;
  overflow: hidden;
}
.dish__card {
  height: 70px;
  background-color: white;
  padding: 10px 12px;
  border-radius: 17px;
  position: relative;
  box-shadow: 0px 5px 5px #ebebeb;
  margin-bottom: 10px;
}
.dish__card--name {
  margin: 0px;
  padding-bottom: 5px;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: width 400ms ease-in-out;
}
.dish__card--detail {
  margin: 0px;
  font-weight: lighter;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: width 400ms ease-in-out;
}
.dish__card--price {
  margin: 0px;
  padding-top: 30px;
  position: absolute;
  bottom: 13px;
  right: 20px;
  transform: translateX(0);
  transition: transform 450ms ease-in-out;
}
.dish__card:hover + .dish__selector {
  transform: translateX(0%);
}
.dish__card:hover + .dish__selector .fas {
  transform: rotate(1turn);
}
.dish__card:hover .dish__card--price {
  transform: translateX(-60px);
}
.dish__card:hover .dish__card--name {
  width: 80%;
}
.dish__card:hover .dish__card--detail {
  width: 60%;
}
.dish__selector {
  height: 70px;
  width: 60px;
  background-color: #99E2D0;
  color: white;
  font-size: 1.5em;
  border-radius: 0px 17px 17px 0px;
  position: absolute;
  bottom: 10px;
  right: 0px;
  transform: translateX(100%);
  transition: transform 500ms ease-in-out;
}
.dish__selector .fas {
  position: absolute;
  top: 23px;
  right: 18px;
  transform: rotate(0);
  transition: transform 500ms ease-in-out;
}

#order {
  width: 180px;
  height: 50px;
  margin: auto;
  display: block;
}

/*# sourceMappingURL=style.css.map */
