$primary: #9356DC;
$lightprimary: lighten(#9356DC, 35%);
$secondary: #FF79D3;
$tertiary: #99E2D0;
$darkgrey: darken(#cccccc, 50%);
$grey: darken(#cccccc, 25%);
$lightgrey: lighten(#cccccc, 12%);
$superlightgrey: lighten(#cccccc, 17%);
$mobile-width: 90%;

