.big-button {
    padding: 16px 20px;
    border-radius: 25px;
    color: white;
    font-weight: 600;
    background: linear-gradient(175deg, $secondary, $primary);
    border: none;
    font-size: 15px;
    box-shadow: 2px 3px 7px lighten($grey, 20%);
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: box-shadow 250ms ease-in-out;
    &--order {
        width: 180px;
        height: 50px;
        margin: auto;
        margin-top: 30px;
        display: block;
    }
    &::after {
        position: absolute;
        content: "";
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient(175deg, lighten($secondary, 10%), lighten($primary, 10%));
        box-shadow: 4px 5px 9px lighten($grey, 20%);
        opacity: 0;
        transition: opacity 250ms ease-in-out;
        z-index: -1;
    }
    &:hover, &:active {
        outline: none;
        &::after {
            opacity: 1;
        }
    }
}