.restaurant-page-container {
    background-color: $superlightgrey;
}

.restaurant-banner {
    height: 250px;
    background-size: 100%;
    @include small-mobile {
        height: 200px;
    }
    @include desktop {
        background-position: center;
    }
    &--palette {
        background-image: url("../images/photo_plat_la_palette_du_gout.jpg");
    }
    &--note {
        background-image: url("../images/photo_plat_la_note_enchantée.jpg");
        background-position: center;
    }
    &--francaise {
        background-image: url("../images/photo_plat_a_la_francaise.jpg");
    }
    &--delice {
        background-image: url("../images/photo_plat_le_delice_des_sens.jpg");
    }
}

.restaurant-main {
    background-color: $superlightgrey;
    border-radius: 35px 35px 0px 0px;
    position: relative;
    padding-top: 10px;
    padding-bottom: 25px;
    top: -30px;
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: $mobile-width;
        margin: auto;
        @include desktop {
            justify-content: start;
        }
        &--title {
            font-size: 1.7em;
            margin-bottom: 10px;
        }
        .fas, .far {
            margin-top: 13px;
            @include small-mobile {
                padding-right: 0px;
            }
            @include desktop {
                padding-left: 50px;
            }
        }
    }
    &__menu {
        display: flex;
        flex-direction: column;
        width: $mobile-width;
        margin: auto;
        @include desktop {
            flex-direction: row;
            justify-content: space-between;
            max-width: 1200px;
        }
        &__course {
            @include desktop {
                margin: 15px;
            }
        }
        &__course--status {
            text-transform: uppercase;
            font-weight: lighter;
            margin: 25px 0px 5px 0px;
        }
        &__course--status-underline {
            background-color: $tertiary;
            width: 40px;
            height: 3px;
            margin-bottom: 15px;
        }
    }
}

.dish {
    position: relative;
    overflow: hidden;
    @include tablet {
        width: 70%;
        margin: auto;
    }
    @include desktop {
        width: 400px;
    }
    /*animation*/
    opacity: 0;
    transform: translateY(10%);
    animation: dish-animation $dish-anim-duration ease-in-out forwards;
    @for $i from 1 to 11 {
        &--#{$i} {
            animation-delay: $dish-anim-delay * ($i - 1);
        }
    }
    &__card {
        height: 70px;
        background-color: white;
        padding: 10px 12px;
        border-radius: 17px;
        position: relative;
        box-shadow: 0px 5px 5px $lightgrey;
        margin-bottom: 15px;
        &--name {
            margin: 0px;
            font-weight: 500;
            padding-bottom: 5px;
            width: 100%;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            transition: width 400ms ease-in-out;
            @include small-mobile {
                padding-bottom: 8px;
            }
        }
        &--detail {
            margin: 0px;
            font-weight: lighter;
            width: 90%;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            transition: width 400ms ease-in-out;
            @include small-mobile {
                width: 85%;
            }
            @include tablet {
                width: 100%;
            }
        }
        &--price {
            margin: 0px;
            padding-top: 30px;
            position: absolute;
            bottom: 13px;
            right: 20px;
            transform: translateX(0);
            transition: transform 450ms ease-in-out;
        }
        &:hover, &:active {
            + .dish__selector {
                transform: translateX(0%);
                .fas {
                    transform: rotate(1turn);
                }
            }
            .dish__card--price {
                transform: translateX(-60px);
            }
            .dish__card--name {
                width: 80%;
            }
            .dish__card--detail {
                width: 65%;
                @include small-mobile {
                    width: 60%;
                }
            }
        }
    }
    &__selector {
        height: 70px;
        width: 60px;
        background-color: $tertiary;
        color: white;
        font-size: 1.5em;
        border-radius: 0px 17px 17px 0px;
        position: absolute;
        bottom: 15px;
        right: 0px;
        transform: translateX(100%);
        transition: transform 500ms ease-in-out;
        .fas {
            position: absolute;
            top: 23px;
            right: 18px;
            transform: rotate(0);
            transition: transform  500ms ease-in-out;
        }
    }
}

@keyframes dish-animation {
    0% {
        opacity: 0;
        transform: translateY(10%);
    }
    50% {
        opacity: 0.5;
        transform: translateY(5%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
