* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}
@media all and (max-width: 320px) {
  body {
    font-size: 0.9rem;
  }
}

.logo, .restaurant-main__header--title {
  font-family: "Shrikhand", cursive;
}

a:visited, a:active, a:focus {
  outline: none;
}

a {
  -webkit-text-decoration-line: none;
  text-decoration-line: none;
}

button:hover {
  cursor: pointer;
}

.loading {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 1;
  z-index: 2;
  -webkit-animation: loading-page-opacity 1000ms ease-in-out forwards, loading-page-translation 1ms 1000ms forwards;
  animation: loading-page-opacity 1000ms ease-in-out forwards, loading-page-translation 1ms 1000ms forwards;
}
.loading__spinner {
  position: fixed;
  display: block;
  top: 50vh;
  width: 100%;
  text-align: center;
  z-index: 3;
  font-size: 4em;
  color: #99E2D0;
  -webkit-animation: rotate-spinner 1000ms ease-in-out;
  animation: rotate-spinner 1000ms ease-in-out;
}

@-webkit-keyframes rotate-spinner {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(4turn);
  }
}
@keyframes rotate-spinner {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(4turn);
  }
}
@-webkit-keyframes loading-page-opacity {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes loading-page-opacity {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes loading-page-translation {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}
@keyframes loading-page-translation {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}
.big-button {
  padding: 16px 20px;
  border-radius: 25px;
  color: white;
  font-weight: 600;
  background: linear-gradient(175deg, #FF79D3, #9356DC);
  border: none;
  font-size: 15px;
  box-shadow: 2px 3px 7px #bfbfbf;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: box-shadow 250ms ease-in-out;
}
.big-button--order {
  width: 180px;
  height: 50px;
  margin: auto;
  margin-top: 30px;
  display: block;
}
.big-button::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(175deg, #fface4, #ae80e5);
  box-shadow: 4px 5px 9px #bfbfbf;
  opacity: 0;
  transition: opacity 250ms ease-in-out;
  z-index: -1;
}
.big-button:hover, .big-button:active {
  outline: none;
}
.big-button:hover::after, .big-button:active::after {
  opacity: 1;
}

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/
@-webkit-keyframes heartfilling {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes heartfilling {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.heart-button {
  position: relative;
  border: none;
  padding: 0;
  background: transparent;
}
.heart-button:hover, .heart-button:active {
  outline: none;
}
.heart-button:hover .far, .heart-button:active .far {
  background: linear-gradient(60deg, #FF79D3, #9356DC);
  background-clip: border-box;
  -webkit-background-clip: text;
  color: transparent;
}
.heart-button:hover .fas, .heart-button:active .fas {
  -webkit-animation: heartfilling 700ms ease-in-out forwards;
  animation: heartfilling 700ms ease-in-out forwards;
}
.heart-button .far {
  font-size: 30px;
  color: #8c8c8c;
}
.heart-button .fas {
  font-size: 30px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(60deg, #FF79D3, #9356DC);
  background-clip: border-box;
  -webkit-background-clip: text;
  color: transparent;
  transform: scale(0);
  transform-origin: bottom;
}

header {
  position: relative;
  background-color: white;
}
header .logo {
  text-align: center;
  margin: 0px;
  padding: 10px 0px 7px 0px;
  box-shadow: 0px 0px 10px #a6a6a6;
}
header .logo--pages-restaurant {
  box-shadow: none;
}
header .fas {
  position: absolute;
  font-size: 1.5em;
  color: #4d4d4d;
  top: 20px;
  left: 25px;
}

.footer {
  margin: auto;
  background-color: #4d4d4d;
  padding-bottom: 15px;
}
.footer__content {
  width: 90%;
  margin: auto;
  color: #f7f7f7;
}
.footer__content__logo {
  font-size: 1.3em;
  font-weight: lighter;
  margin: 0px;
  padding-top: 20px;
}
.footer__content__nav ul {
  list-style: none;
  padding-left: 0px;
}
.footer__content__nav ul li {
  padding-bottom: 5px;
}
.footer__content__nav ul li span {
  padding-left: 5px;
}
.footer__content__nav ul li a {
  color: #f7f7f7;
}
.footer__content__nav ul .fa-utensils {
  font-size: 0.9rem;
}
.footer__content__nav ul .fa-hands-helping {
  font-size: 0.6rem;
}
.footer__content__nav ul .lighter-link {
  font-weight: lighter;
}

.position {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #4d4d4d;
  background-color: #ebebeb;
}
.position .fas {
  padding-right: 10px;
}

.explore {
  background-color: #f7f7f7;
  width: 100%;
  margin: auto;
  text-align: center;
  padding: 30px 0px 40px 0px;
}
.explore__title {
  width: 70%;
  margin: auto;
  padding-bottom: 10px;
}
.explore__subtitle {
  width: 90%;
  margin: auto;
  padding-bottom: 30px;
  font-weight: 100;
  font-size: 1.15em;
}

.process {
  padding-bottom: 40px;
}
@media all and (min-width: 1024px) {
  .process {
    max-width: 1064px;
    margin: auto;
  }
}
.process__title {
  width: 90%;
  margin: auto;
  padding-top: 40px;
  padding-bottom: 30px;
}
@media all and (min-width: 736px) {
  .process__title {
    text-align: center;
  }
}
.process__steps {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media all and (min-width: 1024px) {
  .process__steps {
    flex-direction: row;
    justify-content: space-between;
  }
}
.process__steps__step {
  display: flex;
  position: relative;
  align-items: center;
  background-color: #f7f7f7;
  border-radius: 17px;
  box-shadow: 2px 5px 5px #ebebeb;
  margin: 0px 0px 20px 10px;
  width: 90%;
  padding-top: 33px;
  padding-bottom: 33px;
}
@media all and (min-width: 736px) {
  .process__steps__step {
    width: 60%;
  }
}
@media all and (min-width: 1024px) {
  .process__steps__step {
    margin: 20px;
  }
}
.process__steps__step:hover {
  background-color: #f2eafb;
  cursor: pointer;
}
.process__steps__step:hover .fas {
  color: #9356DC;
}
.process__steps__step__number {
  background-color: #9356DC;
  border-radius: 25px;
  width: 24px;
  height: 24px;
  text-align: center;
  padding-top: 3px;
  color: white;
  position: absolute;
  left: -10px;
}
.process__steps__step .fas {
  color: #8c8c8c;
  font-size: 18px;
  position: absolute;
}
.process__steps__step .fa-mobile-alt {
  left: 40px;
}
@media all and (min-width: 736px) {
  .process__steps__step .fa-mobile-alt {
    left: 120px;
  }
}
@media all and (min-width: 1024px) {
  .process__steps__step .fa-mobile-alt {
    left: 40px;
  }
}
.process__steps__step .fa-list-ul {
  left: 35px;
}
@media all and (min-width: 736px) {
  .process__steps__step .fa-list-ul {
    left: 115px;
  }
}
@media all and (min-width: 1024px) {
  .process__steps__step .fa-list-ul {
    left: 35px;
  }
}
.process__steps__step .fa-store {
  left: 35px;
}
@media all and (min-width: 736px) {
  .process__steps__step .fa-store {
    left: 115px;
  }
}
@media all and (min-width: 1024px) {
  .process__steps__step .fa-store {
    left: 35px;
  }
}
.process__steps__step__detail {
  position: absolute;
  left: 75px;
}
@media all and (min-width: 736px) {
  .process__steps__step__detail {
    left: 150px;
  }
}
@media all and (min-width: 1024px) {
  .process__steps__step__detail {
    left: 75px;
  }
}

.restaurants {
  background-color: #f7f7f7;
  width: 100%;
  padding: 40px 0px 40px 0px;
}
.restaurants__title {
  width: 90%;
  margin: 0px auto;
  padding-bottom: 20px;
}
@media all and (min-width: 736px) {
  .restaurants__title {
    text-align: center;
  }
}
.restaurants__container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
}
@media all and (min-width: 736px) {
  .restaurants__container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media all and (min-width: 1300px) {
  .restaurants__container {
    max-width: 1064px;
  }
}
.restaurants__container__card {
  display: block;
  position: relative;
  margin-bottom: 20px;
  box-shadow: 3px 5px 5px #e6e6e6;
  border-radius: 17px;
  overflow: hidden;
  height: 250px;
}
@media all and (max-width: 320px) {
  .restaurants__container__card {
    height: 190px;
  }
}
@media all and (min-width: 736px) {
  .restaurants__container__card {
    flex: 35%;
    margin: 10px;
  }
}
@media all and (min-width: 1300px) {
  .restaurants__container__card {
    margin: 30px;
  }
}
.restaurants__container__card__img {
  width: 100%;
  position: absolute;
}
.restaurants__container__card__img__palette, .restaurants__container__card__img__francaise, .restaurants__container__card__img__delice {
  top: -30px;
}
.restaurants__container__card__img__note {
  top: -150px;
}
.restaurants__container__card__status {
  position: absolute;
  top: 5px;
  right: 15px;
  background-color: #99E2D0;
  color: #2c9c81;
  font-size: 0.9em;
  padding: 0.4em 0.9em;
  border-radius: 4px;
}
.restaurants__container__card__content {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 0px;
  width: 100%;
}
.restaurants__container__card__content__name {
  color: black;
  margin: 0px;
  padding: 15px 0px 5px 10px;
}
.restaurants__container__card__content__place {
  color: black;
  margin: 0px;
  padding: 0px 0px 15px 10px;
  font-weight: 300;
}
.restaurants__container__card__heart-btn {
  position: absolute;
  right: 25px;
  bottom: 25px;
}

.restaurant-page-container {
  background-color: #f7f7f7;
}

.restaurant-banner__img {
  width: 100vw;
  max-height: 40vh;
  object-fit: cover;
}

.restaurant-main {
  background-color: #f7f7f7;
  border-radius: 35px 35px 0px 0px;
  position: relative;
  padding-top: 10px;
  padding-bottom: 25px;
  top: -30px;
}
.restaurant-main__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
}
.restaurant-main__header--title {
  font-size: 1.7em;
  margin-bottom: 10px;
}
.restaurant-main__header--heart {
  margin-top: 13px;
}
.restaurant-main__menu {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
}
@media all and (min-width: 1300px) {
  .restaurant-main__menu {
    flex-direction: row;
    justify-content: space-between;
    max-width: 1200px;
  }
}
@media all and (min-width: 1300px) {
  .restaurant-main__menu__course {
    margin: 15px;
  }
}
.restaurant-main__menu__course--status {
  text-transform: uppercase;
  font-weight: lighter;
  margin: 25px 0px 5px 0px;
}
.restaurant-main__menu__course--status-underline {
  background-color: #99E2D0;
  width: 40px;
  height: 3px;
  margin-bottom: 15px;
}

.dish {
  position: relative;
  overflow: hidden;
  /*animation*/
  opacity: 0;
  transform: translateY(10%);
  -webkit-animation: dish-animation 800ms ease-in-out forwards;
  animation: dish-animation 800ms ease-in-out forwards;
}
@media all and (min-width: 736px) {
  .dish {
    width: 70%;
    margin: auto;
  }
}
@media all and (min-width: 1300px) {
  .dish {
    width: 400px;
  }
}
.dish--1 {
  -webkit-animation-delay: 0ms;
  animation-delay: 0ms;
}
.dish--2 {
  -webkit-animation-delay: 300ms;
  animation-delay: 300ms;
}
.dish--3 {
  -webkit-animation-delay: 600ms;
  animation-delay: 600ms;
}
.dish--4 {
  -webkit-animation-delay: 900ms;
  animation-delay: 900ms;
}
.dish--5 {
  -webkit-animation-delay: 1200ms;
  animation-delay: 1200ms;
}
.dish--6 {
  -webkit-animation-delay: 1500ms;
  animation-delay: 1500ms;
}
.dish--7 {
  -webkit-animation-delay: 1800ms;
  animation-delay: 1800ms;
}
.dish--8 {
  -webkit-animation-delay: 2100ms;
  animation-delay: 2100ms;
}
.dish--9 {
  -webkit-animation-delay: 2400ms;
  animation-delay: 2400ms;
}
.dish--10 {
  -webkit-animation-delay: 2700ms;
  animation-delay: 2700ms;
}
.dish__card {
  height: 70px;
  background-color: white;
  padding: 10px 12px;
  border-radius: 17px;
  position: relative;
  box-shadow: 0px 5px 5px #ebebeb;
  margin-bottom: 15px;
}
.dish__card--name {
  margin: 0px;
  font-weight: 500;
  padding-bottom: 5px;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: width 400ms ease-in-out;
}
@media all and (max-width: 320px) {
  .dish__card--name {
    padding-bottom: 8px;
  }
}
.dish__card--detail {
  margin: 0px;
  font-weight: lighter;
  width: 85%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: width 400ms ease-in-out;
}
@media all and (min-width: 736px) {
  .dish__card--detail {
    width: 100%;
  }
}
.dish__card--price {
  margin: 0px;
  padding-top: 30px;
  position: absolute;
  bottom: 13px;
  right: 20px;
  transform: translateX(0);
  transition: transform 450ms ease-in-out;
}
.dish__card:hover + .dish__selector, .dish__card:active + .dish__selector {
  transform: translateX(0%);
}
.dish__card:hover + .dish__selector .fas, .dish__card:active + .dish__selector .fas {
  transform: rotate(1turn);
}
.dish__card:hover .dish__card--price, .dish__card:active .dish__card--price {
  transform: translateX(-60px);
}
.dish__card:hover .dish__card--name, .dish__card:active .dish__card--name {
  width: 80%;
}
.dish__card:hover .dish__card--detail, .dish__card:active .dish__card--detail {
  width: 65%;
}
@media all and (max-width: 320px) {
  .dish__card:hover .dish__card--detail, .dish__card:active .dish__card--detail {
    width: 60%;
  }
}
.dish__selector {
  height: 70px;
  width: 60px;
  background-color: #99E2D0;
  color: white;
  font-size: 1.5em;
  border-radius: 0px 17px 17px 0px;
  position: absolute;
  bottom: 15px;
  right: 0px;
  transform: translateX(100%);
  transition: transform 500ms ease-in-out;
}
.dish__selector .fas {
  position: absolute;
  top: 23px;
  right: 18px;
  transform: rotate(0);
  transition: transform 500ms ease-in-out;
}

@-webkit-keyframes dish-animation {
  0% {
    opacity: 0;
    transform: translateY(10%);
  }
  50% {
    opacity: 0.5;
    transform: translateY(5%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes dish-animation {
  0% {
    opacity: 0;
    transform: translateY(10%);
  }
  50% {
    opacity: 0.5;
    transform: translateY(5%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/*# sourceMappingURL=style.css.map */
