/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@-webkit-keyframes heartfilling {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@keyframes heartfilling {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

.heart-button {
    border: none;
    background-color: transparent;
    padding: 0;
    width: 35px;
    height: 30px;
    position: absolute;
    bottom: 25px;
    right: 25px;
    &:hover, &:active {
        outline: none;
        .far {
            opacity: 0;
        }
        .fas {
            -webkit-animation: heartfilling 1000ms forwards;
            animation: heartfilling 1000ms forwards;
        }
    }
    .far {
        font-size: 30px;
        color: $grey;
        opacity: 1;
        transition: opacity 200ms;
    }
    .fas {
        font-size: 30px;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient(60deg, $secondary, $primary);
        -webkit-background-clip: text;
                background-clip: text;
        color: transparent;
        opacity: 0;
    }
}
