/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@-webkit-keyframes heartfilling {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes heartfilling {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

.heart-button {
    position: relative;
    border: none;
    padding: 0;
    background: transparent;
    &:hover, &:active {
        outline: none;
        .far {
            background: linear-gradient(60deg, $secondary, $primary);
            background-clip: border-box; 
            -webkit-background-clip: text;
            color: transparent;
        }
        .fas {
            -webkit-animation: heartfilling 700ms ease-in-out forwards;
            animation: heartfilling 700ms ease-in-out forwards;
        }
    }
    .far {
        font-size: 30px;
        color: $grey;
    }

    .fas {
        font-size: 30px;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient(60deg, $secondary, $primary);
        background-clip: border-box; 
        -webkit-background-clip: text;
        color: transparent;
        transform: scale(0);
        transform-origin: bottom;
    }
}
