.loading {
    position: fixed;
    width: 100vw;
    height: 100vh;
    //background-color: rgba(69, 71, 71, 0.7);
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 1;
    z-index: 2;
    animation: loading-page-opacity $random-duration ease-in-out forwards, loading-page-translation 1ms $random-duration forwards;
    &__spinner {
        position: fixed;
        display: block;
        top: 50vh;
        width: 100%;
        text-align: center;
        z-index: 3;
        font-size: 4em;
        color: $tertiary;
        animation: rotate-spinner $random-duration ease-in-out;
    }
}

@keyframes rotate-spinner {
    from {
        transform: rotate(0turn);
    }
    to {
        transform: rotate(4turn);
    }
}

@keyframes loading-page-opacity {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes loading-page-translation {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(100%);
    }
}