.loading {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(69, 71, 71, 0.7);
    opacity: 1;
    z-index: 2;
    animation: loading-page-opacity 2000ms ease-in-out forwards;
    &__spinner {
        position: fixed;
        display: block;
        top: 50vh;
        width: 100%;
        text-align: center;
        z-index: 3;
        font-size: 4em;
        color: $tertiary;
        opacity: 0;
        animation: rotate-spinner 2000ms ease-in-out;
    }
}

@keyframes rotate-spinner {
    from {
        transform: rotate(0turn);
        opacity: 1;
    }
    to {
        transform: rotate(4turn);
        opacity: 0;
    }
}

@keyframes loading-page-opacity {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}