* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    @include small-mobile {
        font-size: 0.9rem;
    }
}
//font-size: 16px

.logo, .restaurant-main__header--title {
    font-family: 'Shrikhand', cursive;
}
//font-size: 32px

a:visited, a:active, a:focus {
    outline: none;
}

a {
    -webkit-text-decoration-line: none;
            text-decoration-line: none;
}

button:hover {
    cursor: pointer;
}
